/* Prevent any hide animations when the page is still loading {{{ */
/* This is an insane fix and I honestly can't believe its still an issue in angular-animate 1.5.x *
/* See - http://stackoverflow.com/questions/15839479/nganimate-on-ngshow-preventing-animation-when-it-starts-first-time#25562457 */
body.router-routing .animate {
	animation-duration: 0s !important;
}
/* }}} */

/* .animate - base animation class {{{ */
.animate {
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
}
/* }}} */

/* .animate-*s - durations {{{ */
.animate.animate-duration-100ms { animation-duration: 0.1s }
.animate.animate-duration-200ms { animation-duration: 0.2s }
.animate.animate-duration-500ms { animation-duration: 0.5s }
.animate.animate-duration-1s { animation-duration: 1s }
.animate.animate-duration-2s { animation-duration: 2s }
.animate.animate-duration-5s { animation-duration: 5s }
.animate.animate-duration-30s { animation-duration: 30s }
/* }}} */

/* .animate-fold .animate-fold-y, .animate-fold-x {{{ */
@keyframes animate-fold-in {
	0% { overflow: hidden }
	100% { overflow: hidden }
	from { max-width: 1px; max-height: 1px; padding: 0 }
	to { max-width: 100px; max-height: 100px }
}
@keyframes animate-fold-out {
	0% { overflow: hidden }
	100% { overflow: hidden }
	from { max-width: 100px; max-height: 100px }
	to { max-width: 1px; max-height: 1px; padding: 0 }
}

@keyframes animate-fold-x-in {
	0% { overflow: hidden }
	100% { overflow: hidden }
	from { max-width: 1px; padding-left: 0; padding-right: 0 }
	to { max-width: 100px }
}
@keyframes animate-fold-x-out {
	0% { overflow: hidden }
	100% { overflow: hidden }
	from { max-width: 100px }
	to { max-width: 1px; padding-left: 0; padding-right: 0 }
}

@keyframes animate-fold-y-in {
	0% { overflow: hidden }
	100% { overflow: hidden }
	from { max-height: 1px; padding-top: 0; padding-bottom: 0 }
	to { max-height: 100px }
}
@keyframes animate-fold-y-out {
	0% { overflow: hidden }
	100% { overflow: hidden }
	from { max-height: 100px }
	to { max-height: 1px; padding-top: 0; padding-bottom: 0 }
}


.animate.animate-fold.ng-hide-add-active,
.animate.animate-fold.ng-enter-active {
	animation-name: animate-fold-in;
}

.animate.animate-fold.ng-hide-remove-active,
.animate.animate-fold.ng-leave-active {
	animation-name: animate-fold-out;
}

.animate.animate-fold-y.ng-hide-add-active,
.animate.animate-fold-y.ng-enter-active {
	animation-name: animate-fold-y-in;
}

.animate.animate-fold-y.ng-hide-remove-active,
.animate.animate-fold-y.ng-leave-active {
	animation-name: animate-fold-y-out;
}

.animate.animate-fold-x.ng-hide-add-active,
.animate.animate-fold-x.ng-enter-active {
	animation-name: animate-fold-x-in;
}

.animate.animate-fold-x.ng-hide-remove-active,
.animate.animate-fold-x.ng-leave-active {
	animation-name: animate-fold-x-out;
}
/* }}} */
/* .animate-fade {{{ */
@keyframes animate-fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}
@keyframes animate-fade-out {
	from { opacity: 1 }
	to { opacity: 0 }
}

.animate.animate-fade.ng-hide-add-active,
.animate.animate-fade.ng-enter-active,
{animation-name: animate-fade-in}

.animate.animate-fade.ng-hide-remove-active,
.animate.animate-fade.ng-leave-active
{animation-name: animate-fade-out}
/* }}} */
/* .animate-pop {{{ */
@keyframes animate-pop-in {
	0% {
		opacity:0;
		transform: scale(0.5);
	}
	70% {
		transform: scale(1.02);
	}
	100% {
		opacity:1;
		transform: scale(1);
	}
}
@keyframes animate-pop-out {
	0% {
		opacity:1;
		transform: scale(1);
	}
	30% {
		transform: scale(1.02);
	}
	100% {
		opacity:0;
		transform: scale(0.5);
	}
}

.animate.animate-pop.ng-hide-add-active,
.animate.animate-pop.ng-enter-active {
	animation-name: animate-pop-in;
}

.animate.animate-pop.ng-hide-remove-active,
.animate.animate-pop.ng-leave-active {
	animation-name: animate-pop-out;
}
/* }}} */
/* .animate-scale {{{ */
@keyframes animate-scale-in {
	from { transform: scale(0) }
	to { transform: scale(1) }
}
@keyframes animate-scale-out {
	from { transform: scale(1) }
	to { transform: scale(0) }
}

.animate.animate-scale.ng-hide-add-active,
.animate.animate-scale.ng-enter-active {
	animation-name: animate-scale-in;
}

.animate.animate-scale.ng-hide-remove-active,
.animate.animate-scale.ng-leave-active {
	animation-name: animate-scale-out;
}
/* }}} */

/* Compound animations {{{ */
.animate.animate-fade.animate-fold.ng-hide-add-active,
.animate.animate-fade.animate-fold.ng-enter-active {
	animation-name: animate-fade-in, animate-fold-y-in;
}

.animate.animate-fade.animate-fold-y.ng-hide-remove-active,
.animate.animate-fade.animate-fold-y.ng-leave-active {
	animation-name: animate-fade-out, animate-fold-y-out;
}
/* }}} */
