/* Prevent any hide animations when the page is still loading {{{ */
/* This is an insane fix and I honestly can't believe its still an issue in angular-animate 1.5.x *
/* See - http://stackoverflow.com/questions/15839479/nganimate-on-ngshow-preventing-animation-when-it-starts-first-time#25562457 */
body.router-routing .animate {
	animation-duration: 0s !important;
}
/* }}} */

/* .animate - base animation class {{{ */
.animate {
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
}
/* }}} */

/* .animate-*s - durations {{{ */
.animate.animate-duration-100ms { animation-duration: 0.1s }
.animate.animate-duration-200ms { animation-duration: 0.2s }
.animate.animate-duration-500ms { animation-duration: 0.5s }
.animate.animate-duration-1s { animation-duration: 1s }
.animate.animate-duration-2s { animation-duration: 2s }
.animate.animate-duration-5s { animation-duration: 5s }
.animate.animate-duration-10s { animation-duration: 10s }
.animate.animate-duration-20s { animation-duration: 20s }
.animate.animate-duration-30s { animation-duration: 30s }
/* }}} */
/* .animate-easing-* - easings {{{ */
.animate.animate-easing-linear { animation-timing-function: linear }
.animate.animate-easing-ease { animation-timing-function: ease }
.animate.animate-easing-ease-in { animation-timing-function: ease-in }
.animate.animate-easing-ease-out { animation-timing-function: ease-out }
.animate.animate-easing-ease-in-out { animation-timing-function: ease-in-out }
.animate.animate-easing-step-start { animation-timing-function: step-start }
.animate.animate-easing-step-end { animation-timing-function: step-end }
/* }}} */

/* .animate-fade {{{ */
@keyframes animate-fade {
	from { opacity: 0 }
	to { opacity: 1 }
}

.animate.animate-fade.ng-hide-remove,
.animate.animate-fade.ng-enter
{
	animation-name: animate-fade;
}

.animate.animate-fade.ng-hide-add,
.animate.animate-fade.ng-leave-active
{
	animation-name: animate-fade;
	animation-direction: reverse;
}
/* }}} */

/* .animate-reflow-width {{{ */
@keyframes animate-reflow-width {
	from {
		max-width: 0px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	to {
		max-width: 300px;
	}
}

.animate.animate-reflow-width {overflow-x: hidden}

.animate.animate-reflow-width.ng-hide-remove,
.animate.animate-reflow-width.ng-enter
{
	animation-name: animate-reflow-width;
}

.animate.animate-reflow-width.ng-hide-add,
.animate.animate-reflow-width.ng-leave-active
{
	animation-name: animate-reflow-width;
	animation-direction: reverse;
}
/* }}} */
/* .animate-reflow-height {{{ */
@keyframes animate-reflow-height {
	from {
		max-height: 0px;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	to {
		max-height: 300px;
	}
}

.animate.animate-reflow-height {overflow-y: hidden}

.animate.animate-reflow-height.ng-hide-remove,
.animate.animate-reflow-height.ng-enter
{
	animation-name: animate-reflow-height;
}

.animate.animate-reflow-height.ng-hide-add,
.animate.animate-reflow-height.ng-leave-active
{
	animation-name: animate-reflow-height;
	animation-direction: reverse;
}
/* }}} */
/* .animate-reflow-scale {{{ */
@keyframes animate-reflow-scale {
	from {
		transform: scale(0);
		max-width: 0px;
		max-height: 0px;
		margin: 0;
	}
	to {
		transform: scale(1);
		max-width: 300px;
		max-height: 300px;
	}
}

.animate.animate-reflow-scale.ng-hide-remove,
.animate.animate-reflow-scale.ng-enter
{
	animation-name: animate-reflow-scale;
}

.animate.animate-reflow-scale.ng-hide-add,
.animate.animate-reflow-scale.ng-leave-active
{
	animation-name: animate-reflow-scale;
	animation-direction: reverse;
}
/* }}} */
